---
---

@import "definitions";

a {
	color: black;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	.date {
		font-weight: bold;
		margin-right: 1.6vw;
	}
}

@mixin text($p-size, $margin-size) {
	h2 {
		font-size: $p-size;
		margin-bottom: $margin-size;
		.date {
			@include add-underline($p-size);
		}
	}
	@media (min-width: 700px) {
		a {
			@include add-underline($p-size);
		}
	}
}
@include text(3vw, 1vw);

@media (max-width: 1300px) {
	@include text(5vw, 2vw);
	h2 {
		font-size: 4vw;
	}
}

@media (max-width: 500px) {
	@include text(6vw, 4vw);
}
