---
---

@import "definitions";

a {
	@include add-underline(4vw);
}

h2 {
	font-weight: normal;
	b {
		margin-right: .4vw;
	}
}

@mixin text($p-size, $margin-size) {
	h2 {
		font-size: $p-size;
		margin-bottom: $margin-size;
	}

	a {
		@include add-underline($p-size);
	}
}
@include text(3vw, 1vw);

@media (max-width: 1300px) {
	@include text(5vw, 2vw);
	h2 {
		font-size: 4vw;
	}
}

@media (max-width: 500px) {
	@include text(6vw, 4vw);
}
