---
---

@import "definitions";

$media-1: 1000px;

.content.row {
	justify-content: space-between;
}

.social {
	margin-top: 1vw;
	justify-content: space-evenly;
	align-items: center;
	@include color-background("dribbble");
	@include color-background("linkedin");
	@include color-background("github");
	@include color-background("twitter");
	@include color-background("email");
	* {
		width: 4vw;
	}
}

.feed {
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	width: 40px;
	img {
		width: 100%;
	}
}

.face {
	width: 100%;
}

.other {
	width: 25vw;
}

@mixin text($p-size, $margin-size) {
	p {
		font-size: $p-size;
		margin-bottom: $margin-size;
	}

	a {
		@include add-underline($p-size);
	}
}

@include text(4vw, 2vw);

@media (max-width: 1000px) {
	@include text(5vw, 3vw);
	.content.row {
		flex-direction: column;
	}
	.other {
		align-self: center;
		width: 40vw;
		margin-top: 5vw;
	}
	.social * {
		width: 7vw;
	}
}

@media (max-width: 500px) {
	@include text(9vw, 4vw);
	.other {
		width: 60vw;
		margin-top: 10vw;
	}
	.social {
		margin-top: 3vw;
		* {
			width: 10vw;
		}
	}
	.feed {
		width: 20px;
	}
}
