---
---

@import "stylesheet";
@import "grid";

.content {
	height: 100%;
	justify-content: space-between;
}

@mixin color-background($image) {
	.#{$image}:hover {
		background: url("/assets/home/#{$image}-color.svg") no-repeat;
	}
}

.social {
	margin-top: 30px;
	justify-content: space-evenly;
	align-items: center;
	@include color-background("dribbble");
	@include color-background("github");
	@include color-background("twitter");
	@include color-background("email");
}
