$red: #F75959;
$yellow: #FFDF36;
$green: #75FF69;
$blue: #59D1F7;

@mixin underline($color, $font-size) {
	position: relative;
	$width: $font-size / 5;
	&:after {
		content: "";
		background: $color;
		position: absolute;
		height: $width;
		width: 100%;
		left: 0;
		z-index: -1;
		bottom: 0;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		background: $color;
		width: 100%;
		height: 0%;
		transition-duration: .4s;
		z-index: -1;
	}
	&:hover {
		&:before {
			height: $font-size;
		}
	}
}

@mixin add-underline($font-size) {
	text-decoration: none;
	color: unset;

	&.red {
		@include underline($red, $font-size);
	}
	&.yellow {
		@include underline($yellow, $font-size);
	}
	&.green {
		@include underline($green, $font-size);
	}
	&.blue {
		@include underline($blue, $font-size);
	}
}

@mixin color-background($image) {
	.#{$image}:hover {
		background-image: url("/assets/page/#{$image}-color.svg");
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
