$width: 10px;
$red: #F75959;
$yellow: #FFDF36;
$green: #A8F759;

@mixin underline($color) {
	position: relative;
	&:after {
		content: "";
		background: $color;
		position: absolute;
		height: $width;
		width: 100%;
		left: 0;
		bottom: 6px;
		z-index: -1;
	}
	&:before {
		content: "";
		position: absolute;
		background: $color;
		width: 100%;
		height: 0%;
		transition-duration: .4s;
		z-index: -1;
	}
	&:hover {
		&:before {
			height: 80%;
		}
	}
}

@mixin color-background($image) {
	.#{$image}:hover {
		background: url("/assets/page/#{$image}-color.svg") no-repeat;
	}
}
